{% extends 'base.html' %}


{% block content %}

<div class="container">

    <h3 class="mb-3">Uyga berilgan vazifalar</h3>

    <div class="shadow border p-2 d-flex flex-column">

        {% for theme in themes %}

        {% if forloop.counter > 1 %}
        <hr class="my-1" />
        {% endif %}

        <a href="{% url 'theme_view' theme.pk %}" class="p-2 d-flex">
            <div class="w-50 fw-bold">Mavzu: {{ theme.title }}</div>
            <div class="w-50">Owner: {{ theme.owner.username }}</div>
        </a>
        {% endfor %}
    </div>

</div>

{% endblock content %}